html, body{
    background-color: #ececec;
    height: 100%;
}
html {
    overflow-y: scroll;
    overflow-x: hidden;
}
.fa-sm{
    font-size: 1.4rem;
}
.nav-link .fa {
    font-size: 1.4rem;
    margin-right: 0.25em;
}
#sidenav{
    padding-bottom: 6rem;
}
.sidebar{
    position: fixed;
    height: 100vh;

    /* sidebar scrollbar properties on firefox */
    scrollbar-width: thin;
    scrollbar-color: #adadad #ECECEC;
}
/* sidebar scrollbar properties on chrome */
.sidebar:hover{
    overflow-y:auto;
}
.sidebar::-webkit-scrollbar{
    width: 5px;
}
/* Track */
.sidebar::-webkit-scrollbar-track{
    background: #ECECEC;
}
/* Handle */
.sidebar::-webkit-scrollbar-thumb{
    background: #adadad;
}
/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover{
    background: #a3a3a3;
}
.sidebar-badge{
    line-height: 1.15rem;
}
.sidebar li.nav-item{
    line-height: 1.6em;
}
.sidebar-dark{
    background-color: #343A40;
    color: #ececec;
    overflow: auto;
    overflow-x: hidden;
}
.sidebar-dark .nav-link{
    color: #F8F9FA;
}
.sidebar-dark li.nav-item:hover{
    background-color: #4d4d4d;
    transition: all 0.25s;
}
.sidebar-dark .selected{
    background-color: #555555;
}
.sidebar-light{
    background-color: #F8F9FA;
    color: #343A40;
    overflow: auto;
    overflow-x: hidden;
}
.sidebar-light .nav-link{
    color: #4e4e4e;
}
.sidebar-light li.nav-item:hover{
    background-color: #e5e9ec;
}
.sidebar-light .selected{
    background-color: #ECEFF1;
}
@media (max-width: 767.98px) {
    .content-badge{display: none;}
}
li.selected a{
    border-left: 5px solid #52b3d0;
}
.admin-logo{
    font-size: 1.45em;
    text-align: center;
}
.admin-logo-dark{
    background-color: #2c2c2c;
}
.admin-logo-light{
    background-color: #e4e4e4;
}
.control-icons-top{
    height: 70px;
    position: sticky;
    top: 0;
    text-align: center;
    }
.control-icons-bottom{
    height: 70px;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 16.6667%;
    }
.control-icons{
    background-color: transparent;
    width: -moz-max-content;
    width: -webkit-max-content;
    margin: auto;
}
.control-icons-light{
    background-color: transparent;
}
.control-icons-light i{
    color: #343A40;
}
.control-icons-light i:hover{
    color: #52b3d0;
    transition: all 0.2s;
}
.control-icons-dark{
    background-color: transparent;
}
.control-icons-dark i{
    color: #ececec;
}
.control-icons-dark i:hover{
    color: #52b3d0;
    transition: all 0.2s;
}
.separator{
    width: 1px;
    border-right: 1px dotted #5c5c5c;
}
.icon-hint{
    background-color: transparent;
    height: 22px;
    line-height: 1em;
    text-align: center;
    padding-top: 3px;
}
.icon-hint-light{
    color: #343A40;
}
.icon-hint-dark{
    color: #ececec;
}
#jseditorSidebar{
    height: auto;
    min-height: 550px;
    max-height: 700px;
    max-width: 500px;
}
.tox-tinymce{
    min-height: 500px !important;
}
.new-content-icon{
    color: #52b3d0;
}
